<div>
  <h2 class="font-medium text-amber-900 truncate">{{title()}}</h2>
  <div class="flex flex-row">
    <form (ngSubmit)="addTask()">
      <div class="form-group">
        <label for="title">Titre :</label>
        <input type="text" id="title"name="title" required minlength="3" [(ngModel)]="formData.title" #titleCtrl="ngModel" placeholder="Titre" />
        @if(titleCtrl.invalid && titleCtrl.touched){
          @if (titleCtrl.errors?.['required']) {
            <small class="error">Le titre est requis.</small>
          }
          @if (titleCtrl.errors?.['minlength']){
            <small class="error">Minimum 3 caractères.</small>
          }
        }
      </div>
    
      <div class="form-group">
        <label for="libelle">Libellé :</label>
        <input type="text" id="libelle"name="libelle" required minlength="3" [(ngModel)]="formData.libelle" #libelleCtrl="ngModel" placeholder="Libellé" />
        @if(libelleCtrl.invalid && libelleCtrl.touched){
          @if (libelleCtrl.errors?.['required']) {
            <small class="error">Le libellé est requis.</small>
          }
          @if (libelleCtrl.errors?.['minlength']){
            <small class="error">Minimum 3 caractères.</small>
          }
        }
      </div>
    
      <button type="submit" [disabled]="titleCtrl.invalid || libelleCtrl.invalid"
      class="w-full p-3 border-2 border-dashed border-emerald-400 rounded-lg text-emerald-700 hover:border-emerald-500 hover:bg-emerald-100 transition-colors text-sm font-medium">
        Ajouter
      </button>
    </form>
  </div>
  

  <div class="flex-1 space-y-3 min-h-96">
      @if ((tasks() ?? []).length > 0) {
        @for (task of tasks(); track task.title + task.libelle) {
          <app-task [task]="task"></app-task>
        }
      } @else {
        <p>Aucune tâche.</p>
      }
  </div>

</div>

